<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>
  <h1>Bienvenue au Port de Plaisance de Russell</h1>
  <p>Vous êtes sur la page d’accueil du projet.</p>
</body>
</html>
